In [13]:
import pandas as pd
import seaborn as sns
import requests

%matplotlib inline
sns.set(style="ticks")

In [14]:
df = pd.read_csv('./base_123i.csv')

In [15]:
df.head()

,city,state,address,tower_name,building_type,rooms,garages,useful_area,latitude,longitude,point_estimate,minimum_estimate,maximum_estimate
0,São Paulo,sp,"Alameda Itu, 254",Torre única,Apartamento,3,1,177,-23.56619840,-46.65689950,2111490,1794760,2428210
1,São Paulo,sp,"Alameda Santos, 1398",Torre única,Apartamento,2,1,65,-23.56387020,-46.65560060,608870,517539,700200
2,São Paulo,sp,"Avenida Paulista, 1195",Torre única,Apartamento,3,1,170,-23.56406910,-46.65356350,2102470,1787100,2417840
3,São Paulo,sp,"Avenida Paulista, 1195",Torre única,Apartamento,4,3,223,-23.56406910,-46.65356350,2757950,2344260,3171640
4,São Paulo,sp,"Alameda Santos, 1126",Torre única,Apartamento,3,1,100,-23.56533980,-46.65376750,1125720,956862,1294580

In [16]:
df.shape

(103953, 13)

In [35]:
requests.post('http://localhost:8000/api/onboarding/', json={
    'location': 'Alameda Santos, 2400',
    'distance': '10'
})

In [37]:
import urllib

In [36]:
LOCATIONIQ_URL = 'https://locationiq.org/v1/search.php?'
locationiq_request = {
    'key': 'dda4e5240ffa57',
    'format': 'json',
}

In [45]:
locationiq_request['q'] = 'Alameda Santos, 2400'

In [52]:
r = requests.get(LOCATIONIQ_URL + urllib.parse.urlencode(locationiq_request)).json()

In [56]:
r[0]

{'place_id': '59586853',
 'licence': 'https://locationiq.com/attribution',
 'osm_type': 'node',
 'osm_id': '4881860694',
 'boundingbox': ['-23.5575112', '-23.5574112', '-46.6628253', '-46.6627253'],
 'lat': '-23.5574612',
 'lon': '-46.6627753',
 'display_name': 'Damasio, 2400, Alameda Santos, Cerqueira César, Jardim Paulista, São Paulo, Região Imediata de São Paulo, RMSP, Região Intermediária de São Paulo, São Paulo, Southeast Region, 01418-200, Brazil',
 'class': 'amenity',
 'type': 'university',
 'importance': 0.311,
 'icon': 'https://locationiq.org/static/images/mapicons/education_university.p.20.png'}

In [51]:
len(r.json())

1